{% extends "base.html" %}

{% block main %}
<h1 class="display-5 fw-bold">Add New Property</h1>

{% include 'flash_messages.html' %}

<form action="{{ url_for('new_property') }}" method="post" enctype="multipart/form-data">
    {{ form.csrf_token }}
  
    {{ form.title.label(class="form-label") }}
    {{ form.title(class="form-control") }}

    {{ form.description.label(class="form-label") }}
    {{ form.description(class="form-control") }}

    <section>
        <div>
            {{ form.num_rooms.label(class="form-label") }}
            {{ form.num_rooms(class="form-control") }}
        </div>
        <div>
            {{ form.num_bathrooms.label(class="form-label") }}
            {{ form.num_bathrooms(class="form-control") }}
        </div>
    </section>
    
    <section>
        <div>
            {{ form.price.label(class="form-label") }}
            {{ form.price(class="form-control") }}
        </div>
        <div>
            {{ form.property_type.label(class="form-label") }}
            {{ form.property_type(class="form-control") }}
        </div>
    </section>
    
    {{ form.location.label(class="form-label") }}
    {{ form.location(class="form-control small-control") }}
  
    {{ form.photo.label(class="form-label") }}
    {{ form.photo(class="form-control small-control") }}
  
    <button type="submit" name="submit" class="btn btn-primary">Add Property</button>
</form>

{% endblock %}